n8n-workflow/n8n-workflow/Workflow3 - AgenticEDA - Privacy-Aware Local Debug.json
{
  "name": "AgenticEDA - Privacy-Aware Local Debug",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "local-debug",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eba50520-eee1-4289-833b-1b7908093b81",
      "name": "Trigger - HTTP Local Debug",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        0
      ],
      "webhookId": "e4bce5e2-bfe4-45e0-81a1-9a11458e70f5"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.buggy_verilog && !body.buggy_snippet) {\n  throw new Error('Provide buggy_verilog (full RTL) or buggy_snippet (code fragment)');\n}\n\nconst snippet = body.buggy_snippet || body.buggy_verilog.substring(0, 2000);\n\nreturn [{\n  json: {\n    session_id:    body.session_id || `local_${Date.now()}`,\n    buggy_snippet: snippet,\n    context:       body.context || '',\n    top_k:         parseInt(body.top_k, 10) || 5,\n    start_ms:      Date.now(),\n    privacy_mode:  true\n  }\n}];\n"
      },
      "id": "0717eb85-8239-41e0-86ed-70e709cfffbe",
      "name": "Process - Privacy Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text:v1.5"
            },
            {
              "name": "prompt",
              "value": "=={{ $json.buggy_snippet }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "3aaee899-3b90-4f93-8fe3-b5d05718b263",
      "name": "AI - Local Contrastive Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rank and format historical bug matches (all local, no cloud)\nconst searchResults = $input.first().json;\nconst inputCtx      = $('Process - Privacy Gate').first().json;\n\nconst matches = (searchResults.result || []).map(hit => ({\n  score:       hit.score,\n  bug_type:    hit.payload.bug_type,\n  description: hit.payload.description,\n  fix_patch:   hit.payload.fix_patch,\n  verilog_ref: hit.payload.verilog_ref,\n  source:      'local_bug_db'  // Confirm data source is local\n}));\n\n// Confidence tier logic\nconst topScore = matches.length > 0 ? matches[0].score : 0;\nlet confidence_tier = 'LOW';\nif (topScore >= 0.90)      confidence_tier = 'HIGH';\nelse if (topScore >= 0.75) confidence_tier = 'MEDIUM';\n\nreturn [{\n  json: {\n    session_id:      inputCtx.session_id,\n    privacy_mode:    true,\n    data_stayed_local: true,\n    confidence_tier,\n    top_match_score: topScore,\n    matches,\n    buggy_snippet:   inputCtx.buggy_snippet,\n    latency_ms:      Date.now() - inputCtx.start_ms\n  }\n}];"
      },
      "id": "65007e9e-c935-492d-8917-fe6c44c66a7e",
      "name": "Process - Rank Bug Matches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Final response assembly with privacy attestation\nconst llmResp  = $input.first().json;\nconst rankData = $('Process - Rank Bug Matches').first().json;\n\nreturn [{\n  json: {\n    success:           true,\n    session_id:        rankData.session_id,\n    privacy_attestation: {\n      data_stayed_local:  true,\n      cloud_api_used:     false,\n      embedding_model:    'code-bert-verilog (local)',\n      llm_model:          'codellama:13b (Ollama local)'\n    },\n    confidence_tier:   rankData.confidence_tier,\n    top_match_score:   rankData.top_match_score,\n    llm_fix_suggestion: llmResp.response || '',\n    historical_matches: rankData.matches,\n    latency_ms:        rankData.latency_ms\n  }\n}];"
      },
      "id": "ef5a4374-808e-4e70-a851-2f881f53817b",
      "name": "Process - Build Privacy Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "29056e73-b7d7-47ec-bcc2-560912496a15",
      "name": "Send - Local Debug Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1856,
        -96
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": "local_debug_sessions",
        "columns": {
          "0": "s",
          "1": "e",
          "2": "s",
          "3": "s",
          "4": "i",
          "5": "o",
          "6": "n",
          "7": "_",
          "8": "i",
          "9": "d",
          "10": ",",
          "11": "c",
          "12": "o",
          "13": "n",
          "14": "f",
          "15": "i",
          "16": "d",
          "17": "e",
          "18": "n",
          "19": "c",
          "20": "e",
          "21": "_",
          "22": "t",
          "23": "i",
          "24": "e",
          "25": "r",
          "26": ",",
          "27": "t",
          "28": "o",
          "29": "p",
          "30": "_",
          "31": "m",
          "32": "a",
          "33": "t",
          "34": "c",
          "35": "h",
          "36": "_",
          "37": "s",
          "38": "c",
          "39": "o",
          "40": "r",
          "41": "e",
          "42": ",",
          "43": "b",
          "44": "u",
          "45": "g",
          "46": "_",
          "47": "t",
          "48": "y",
          "49": "p",
          "50": "e",
          "51": ",",
          "52": "l",
          "53": "a",
          "54": "t",
          "55": "e",
          "56": "n",
          "57": "c",
          "58": "y",
          "59": "_",
          "60": "m",
          "61": "s",
          "62": ",",
          "63": "c",
          "64": "r",
          "65": "e",
          "66": "a",
          "67": "t",
          "68": "e",
          "69": "d",
          "70": "_",
          "71": "a",
          "72": "t",
          "mappingMode": "defineBelow",
          "value": {
            "id": "=",
            "latency_ms": "={{ $json.latency_ms }}",
            "confidence_tier": "={{ $json.confidence_tier }}",
            "session_id": "={{ $json.session_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence_tier",
              "displayName": "confidence_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top_match_score",
              "displayName": "top_match_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bug_type",
              "displayName": "bug_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "latency_ms",
              "displayName": "latency_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e78c5a24-b482-4da6-8212-37e036408fad",
      "name": "Integrate - Postgres Log Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1600,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "7YFhFLTJatRgagVN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Local debug pipeline error: {{ $json.message }}\",\n  \"privacy_mode\": true,\n  \"note\": \"Even in error state, no data was sent to cloud services.\"\n}",
        "options": {}
      },
      "id": "9621d06e-520d-4940-8351-431496aefa16",
      "name": "Error - Local Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -384,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "064206e8-44c9-4dbe-ba37-c666694ee4b6",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        0
      ],
      "id": "9cc84357-5423-4e06-9aa2-0e1d8665447e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const embedding = $('AI - Local Contrastive Embedding').first().json.embedding;\nconst top_k = $('Process - Privacy Gate').first().json.top_k;\n\n// 在 Code Node 裡直接序列化成字串，保持 array 型別\nconst payload = JSON.stringify({\n  vector: embedding,\n  limit: parseInt(top_k) || 5,\n  with_payload: true\n});\n\nreturn [{ json: { payload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "id": "2a51b7fa-4e84-472c-8642-b36832c68d0c",
      "name": "Prepare Qdrant Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6333/collections/eda_bug_history/points/search",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "6ec7f4a1-d028-46e3-92ad-f0884e11eca8",
      "name": "Integrate - Qdrant Bug History Search by Raw Body",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rankData = $input.first().json;\nconst snippet = rankData.buggy_snippet;\nconst matches = rankData.matches.slice(0, 3);\n\nconst prompt = `You are an EDA RTL debug expert. Analyze this buggy Verilog snippet and suggest a fix:\\n\\n${snippet}\\n\\nSimilar historical bugs found:\\n${JSON.stringify(matches, null, 2)}\\n\\nProvide a concise fix suggestion.`;\n\nconst payload = JSON.stringify({\n  model: \"qwen3:8b\",\n  prompt: prompt,\n  stream: false  // 真正的 boolean，不是字串\n});\n\nreturn [{ json: { payload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "94808311-f7d5-4458-bc18-242d30c3692c",
      "name": "Process - Prepare Ollama Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "81fe2ee9-d2f3-4ffb-8b6b-4fd5949b5c5d",
      "name": "AI - Local LLM Fix Suggestion by Raw Body",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS local_debug_sessions (\n    id SERIAL PRIMARY KEY,\n    session_id TEXT,\n    confidence_tier TEXT,\n    top_match_score FLOAT,\n    bug_type TEXT,\n    latency_ms INTEGER,\n    created_at TIMESTAMPTZ DEFAULT NOW()\n);\n",
        "options": {}
      },
      "id": "76bbf745-fb55-49c5-845a-bdfb37a765d3",
      "name": "createPostgresTable",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1856,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "7YFhFLTJatRgagVN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO local_debug_sessions (session_id, confidence_tier, top_match_score, bug_type, latency_ms)\nVALUES (\n  '{{ $json.session_id }}',\n  '{{ $json.confidence_tier }}',\n  {{ $json.top_match_score }},\n  '{{ $json.historical_matches[0].bug_type }}',\n  {{ $json.latency_ms }}\n)\nRETURNING *;\n",
        "options": {}
      },
      "id": "dadb778a-5402-4498-9ca9-09261ad985de",
      "name": "Integrate - Postgres Log Session Execute Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1856,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "7YFhFLTJatRgagVN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM local_debug_sessions ORDER BY created_at DESC LIMIT 5;\n",
        "options": {}
      },
      "id": "dc4079a4-08fe-43f7-8dab-c576b547c273",
      "name": "checkPostgresTable",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2048,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "7YFhFLTJatRgagVN",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "AI - Local LLM Fix Suggestion by Raw Body": [
      {
        "json": {
          "model": "qwen3:8b",
          "created_at": "2026-03-14T12:55:02.036314Z",
          "response": "The code infers latches because the `out` signal is not assigned for all possible values of `sel` (e.g., `2b10`, `2b11`). This is a **LATCH_INFERRED** bug. \n\n**Fix:** Add a default case to assign `out` when `sel` is not `2b00` or `2b01`. For example:\n\n```verilog\nalways @(posedge clk) begin\n  if (sel == 2b00) out = a;\n  else if (sel == 2b01) out = b;\n  else out = 16'b0; // Default value (adjust based on design intent)\nend\n```\n\nAlternatively, use a `case` statement with a `default` branch for clarity:\n\n```verilog\nalways @(posedge clk) begin\n  case (sel)\n    2b00: out = a;\n    2b01: out = b;\n    default: out = 16'b0; // Default value\n  endcase\nend\n```\n\nThis ensures all `sel` values are explicitly handled, avoiding unintended latch inference.",
          "thinking": "Okay, let's look at this Verilog code. The user provided a snippet with an always block triggered on the positive edge of clk. The code assigns out based on the sel signal. The problem is that if sel is neither 2b00 nor 2b01, the out signal isn't assigned. \n\nWait, in Verilog, if you have an always block that's sensitive to a clock edge and you don't cover all possible cases in your conditional statements, the synthesis tool might infer latches. Because for the cases where sel isn't 00 or 01, the out signal isn't being assigned, so the tool doesn't know what to do with it. That's a common bug where latches are inferred unintentionally.\n\nLooking at the historical bugs provided, the first one mentions a LATCH_INFERRED bug due to an incomplete case statement. The fix suggests adding a default branch or using always_ff. So in this code, since it's an always @(posedge clk) block, maybe they intended to use a case statement but used if-else instead. \n\nThe current code uses if-else, but if sel can have other values, like 2b10 or 2b11, then those cases aren't handled. So the fix would be to add a default case. However, the code uses if-else, not a case statement. Wait, maybe the user intended to use a case statement but wrote if-else. Let me check the code again.\n\nThe code is using if (sel == 2b00) ... else if (sel == 2b01) ... So if sel is anything else, out isn't assigned. So the fix is to add an else clause that assigns a default value to out. But the user's code doesn't have that. \n\nAlternatively, maybe the code is supposed to cover all possible sel values. But if sel is a 2-bit signal, it can have 00, 01, 10, 11. The code only covers 00 and 01. So the else if covers 01, but what about 10 and 11? Those cases aren't handled. So the out signal would be inferred as a latch for those cases. \n\nSo the correct fix is to add an else clause that assigns a default value. For example, out = 16'b0; or whatever the intended default is. Alternatively, if the sel is supposed to be only 00 and 01, maybe there's a mistake in the code. But assuming that sel can have other values, the code is incomplete. \n\nLooking at the historical bugs, the first one's fix suggests adding a default branch to a case statement. However, the code here uses if-else. So maybe the user should switch to a case statement and add the default case. \n\nBut the user's code is using if-else. So perhaps the correct fix is to add an else clause. For example:\n\nelse begin\n  out = 16'b0; // or some other default value\nend\n\nBut the original code doesn't have that. So the bug is that the code doesn't handle all possible sel values, leading to latches. Therefore, the fix is to add an else clause with a default assignment. \n\nAlternatively, if the sel is supposed to be only 2 bits and the code is supposed to handle all possibilities, then the code is missing cases. So the fix is to add the else case. \n\nSo the answer should be to add an else clause to assign a default value to out. That would prevent latches from being inferred. The user's code is missing that, leading to the LATCH_INFERRED bug mentioned in the historical data.\n",
          "done": true,
          "done_reason": "stop",
          "context": [
            151644,
            872,
            198,
            2610,
            525,
            458,
            468,
            6352,
            63735,
            7390,
            6203,
            13,
            37427,
            2986,
            419,
            79311,
            6250,
            50773,
            43065,
            323,
            4190,
            264,
            5046,
            1447,
            32122,
            42181,
            3865,
            709,
            45798,
            8,
            3161,
            198,
            220,
            421,
            320,
            9507,
            621,
            220,
            17,
            65,
            15,
            15,
            8,
            700,
            284,
            264,
            280,
            220,
            770,
            421,
            320,
            9507,
            621,
            220,
            17,
            65,
            15,
            16,
            8,
            700,
            284,
            293,
            280,
            408,
            271,
            34402,
            13656,
            22551,
            1730,
            510,
            9640,
            220,
            341,
            262,
            330,
            12338,
            788,
            220,
            15,
            13,
            15,
            15,
            19,
            18,
            17,
            22,
            24,
            21,
            20,
            345,
            262,
            330,
            2313,
            1819,
            788,
            330,
            43,
            8884,
            2158,
            25108,
            6504,
            756,
            262,
            330,
            4684,
            788,
            330,
            63639,
            67595,
            4152,
            311,
            32143,
            1142,
            5114,
            304,
            70967,
            756,
            262,
            330,
            5743,
            39643,
            788,
            330,
            2212,
            1638,
            8870,
            311,
            1142,
            5114,
            476,
            990,
            2677,
            58708,
            756,
            262,
            330,
            423,
            50773,
            7793,
            788,
            330,
            69,
            3563,
            3133,
            25,
            23,
            23,
            756,
            262,
            330,
            2427,
            788,
            330,
            2438,
            73232,
            8685,
            698,
            220,
            1153,
            220,
            341,
            262,
            330,
            12338,
            788,
            220,
            15,
            13,
            15,
            15,
            19,
            18,
            17,
            22,
            24,
            21,
            20,
            345,
            262,
            330,
            2313,
            1819,
            788,
            330,
            34148,
            1718,
            2334,
            40,
            1930,
            3495,
            756,
            262,
            330,
            4684,
            788,
            330,
            54,
            2448,
            19940,
            389,
            9023,
            1815,
            1526,
            912,
            261,
            4688,
            756,
            262,
            330,
            5743,
            39643,
            788,
            330,
            2212,
            15301,
            4161,
            1948,
            912,
            261,
            17628,
            311,
            3367,
            18405,
            756,
            262,
            330,
            423,
            50773,
            7793,
            788,
            330,
            20808,
            3133,
            25,
            19,
            17,
            756,
            262,
            330,
            2427,
            788,
            330,
            2438,
            73232,
            8685,
            698,
            220,
            1153,
            220,
            341,
            262,
            330,
            12338,
            788,
            220,
            15,
            13,
            15,
            15,
            19,
            18,
            17,
            22,
            24,
            21,
            15,
            18,
            345,
            262,
            330,
            2313,
            1819,
            788,
            330,
            67495,
            915,
            49,
            66957,
            26855,
            756,
            262,
            330,
            4684,
            788,
            330,
            32089,
            11788,
            389,
            7585,
            12811,
            4179,
            14381,
            51140,
            756,
            262,
            330,
            5743,
            39643,
            788,
            330,
            10253,
            2726,
            18126,
            311,
            15963,
            7585,
            8173,
            11,
            4057,
            22513,
            5579,
            756,
            262,
            330,
            423,
            50773,
            7793,
            788,
            330,
            9716,
            22667,
            3133,
            25,
            16,
            20,
            756,
            262,
            330,
            2427,
            788,
            330,
            2438,
            73232,
            8685,
            698,
            220,
            456,
            2533,
            60424,
            264,
            63594,
            5046,
            23776,
            13,
            608,
            26865,
            151645,
            198,
            151644,
            77091,
            198,
            151667,
            198,
            32313,
            11,
            1077,
            594,
            1401,
            518,
            419,
            6250,
            50773,
            2038,
            13,
            576,
            1196,
            3897,
            264,
            43065,
            448,
            458,
            2677,
            2504,
            22119,
            389,
            279,
            6785,
            6821,
            315,
            45798,
            13,
            576,
            2038,
            49912,
            700,
            3118,
            389,
            279,
            11806,
            8286,
            13,
            576,
            3491,
            374,
            429,
            421,
            11806,
            374,
            13866,
            220,
            17,
            65,
            15,
            15,
            6329,
            220,
            17,
            65,
            15,
            16,
            11,
            279,
            700,
            8286,
            4436,
            944,
            12607,
            13,
            4710,
            14190,
            11,
            304,
            6250,
            50773,
            11,
            421,
            498,
            614,
            458,
            2677,
            2504,
            429,
            594,
            16216,
            311,
            264,
            8866,
            6821,
            323,
            498,
            1513,
            944,
            3421,
            678,
            3204,
            5048,
            304,
            697,
            34687,
            12239,
            11,
            279,
            38875,
            5392,
            2578,
            23583,
            326,
            9118,
            13,
            9211,
            369,
            279,
            5048,
            1380,
            11806,
            4436,
            944,
            220,
            15,
            15,
            476,
            220,
            15,
            16,
            11,
            279,
            700,
            8286,
            4436,
            944,
            1660,
            12607,
            11,
            773,
            279,
            5392,
            3171,
            944,
            1414,
            1128,
            311,
            653,
            448,
            432,
            13,
            2938,
            594,
            264,
            4185,
            9876,
            1380,
            326,
            9118,
            525,
            67595,
            69476,
            745,
            382,
            22464,
            518,
            279,
            13656,
            22551,
            3897,
            11,
            279,
            1156,
            825,
            33845,
            264,
            444,
            8884,
            2158,
            25108,
            6504,
            9876,
            4152,
            311,
            458,
            32143,
            1142,
            5114,
            13,
            576,
            5046,
            13230,
            7842,
            264,
            1638,
            8870,
            476,
            1667,
            2677,
            58708,
            13,
            2055,
            304,
            419,
            2038,
            11,
            2474,
            432,
            594,
            458,
            2677,
            42181,
            3865,
            709,
            45798,
            8,
            2504,
            11,
            7196,
            807,
            10602,
            311,
            990,
            264,
            1142,
            5114,
            714,
            1483,
            421,
            12,
            1503,
            4518,
            13,
            4710,
            785,
            1482,
            2038,
            5711,
            421,
            12,
            1503,
            11,
            714,
            421,
            11806,
            646,
            614,
            1008,
            2750,
            11,
            1075,
            220,
            17,
            65,
            16,
            15,
            476,
            220,
            17,
            65,
            16,
            16,
            11,
            1221,
            1846,
            5048,
            7629,
            944,
            17608,
            13,
            2055,
            279,
            5046,
            1035,
            387,
            311,
            912,
            264,
            1638,
            1142,
            13,
            4354,
            11,
            279,
            2038,
            5711,
            421,
            12,
            1503,
            11,
            537,
            264,
            1142,
            5114,
            13,
            13824,
            11,
            7196,
            279,
            1196,
            10602,
            311,
            990,
            264,
            1142,
            5114,
            714,
            6139,
            421,
            12,
            1503,
            13,
            6771,
            752,
            1779,
            279,
            2038,
            1549,
            382,
            785,
            2038,
            374,
            1667,
            421,
            320,
            9507,
            621,
            220,
            17,
            65,
            15,
            15,
            8,
            2503,
            770,
            421,
            320,
            9507,
            621,
            220,
            17,
            65,
            15,
            16,
            8,
            2503,
            2055,
            421,
            11806,
            374,
            4113,
            770,
            11,
            700,
            4436,
            944,
            12607,
            13,
            2055,
            279,
            5046,
            374,
            311,
            912,
            458,
            770,
            21647,
            429,
            49912,
            264,
            1638,
            897,
            311,
            700,
            13,
            1988,
            279,
            1196,
            594,
            2038,
            3171,
            944,
            614,
            429,
            13,
            4710,
            92014,
            11,
            7196,
            279,
            2038,
            374,
            9966,
            311,
            3421,
            678,
            3204,
            11806,
            2750,
            13,
            1988,
            421,
            11806,
            374,
            264,
            220,
            17,
            15257,
            8286,
            11,
            432,
            646,
            614,
            220,
            15,
            15,
            11,
            220,
            15,
            16,
            11,
            220,
            16,
            15,
            11,
            220,
            16,
            16,
            13,
            576,
            2038,
            1172,
            14521,
            220,
            15,
            15,
            323,
            220,
            15,
            16,
            13,
            2055,
            279,
            770,
            421,
            14521,
            220,
            15,
            16,
            11,
            714,
            1128,
            911,
            220,
            16,
            15,
            323,
            220,
            16,
            16,
            30,
            12969,
            5048,
            7629,
            944,
            17608,
            13,
            2055,
            279,
            700,
            8286,
            1035,
            387,
            67595,
            438,
            264,
            56926,
            369,
            1846,
            5048,
            13,
            4710,
            4416,
            279,
            4396,
            5046,
            374,
            311,
            912,
            458,
            770,
            21647,
            429,
            49912,
            264,
            1638,
            897,
            13,
            1752,
            3110,
            11,
            700,
            284,
            220,
            16,
            21,
            90853,
            15,
            26,
            476,
            8820,
            279,
            10602,
            1638,
            374,
            13,
            38478,
            11,
            421,
            279,
            11806,
            374,
            9966,
            311,
            387,
            1172,
            220,
            15,
            15,
            323,
            220,
            15,
            16,
            11,
            7196,
            1052,
            594,
            264,
            16523,
            304,
            279,
            2038,
            13,
            1988,
            25538,
            429,
            11806,
            646,
            614,
            1008,
            2750,
            11,
            279,
            2038,
            374,
            32143,
            13,
            4710,
            22464,
            518,
            279,
            13656,
            22551,
            11,
            279,
            1156,
            825,
            594,
            5046,
            13230,
            7842,
            264,
            1638,
            8870,
            311,
            264,
            1142,
            5114,
            13,
            4354,
            11,
            279,
            2038,
            1588,
            5711,
            421,
            12,
            1503,
            13,
            2055,
            7196,
            279,
            1196,
            1265,
            3398,
            311,
            264,
            1142,
            5114,
            323,
            912,
            279,
            1638,
            1142,
            13,
            4710,
            3983,
            279,
            1196,
            594,
            2038,
            374,
            1667,
            421,
            12,
            1503,
            13,
            2055,
            8365,
            279,
            4396,
            5046,
            374,
            311,
            912,
            458,
            770,
            21647,
            13,
            1752,
            3110,
            1447,
            1503,
            3161,
            198,
            220,
            700,
            284,
            220,
            16,
            21,
            90853,
            15,
            26,
            442,
            476,
            1045,
            1008,
            1638,
            897,
            198,
            408,
            271,
            3983,
            279,
            4024,
            2038,
            3171,
            944,
            614,
            429,
            13,
            2055,
            279,
            9876,
            374,
            429,
            279,
            2038,
            3171,
            944,
            3705,
            678,
            3204,
            11806,
            2750,
            11,
            6388,
            311,
            326,
            9118,
            13,
            15277,
            11,
            279,
            5046,
            374,
            311,
            912,
            458,
            770,
            21647,
            448,
            264,
            1638,
            16319,
            13,
            4710,
            92014,
            11,
            421,
            279,
            11806,
            374,
            9966,
            311,
            387,
            1172,
            220,
            17,
            9472,
            323,
            279,
            2038,
            374,
            9966,
            311,
            3705,
            678,
            23607,
            11,
            1221,
            279,
            2038,
            374,
            7402,
            5048,
            13,
            2055,
            279,
            5046,
            374,
            311,
            912,
            279,
            770,
            1142,
            13,
            4710,
            4416,
            279,
            4226,
            1265,
            387,
            311,
            912,
            458,
            770,
            21647,
            311,
            9793,
            264,
            1638,
            897,
            311,
            700,
            13,
            2938,
            1035,
            5358,
            326,
            9118,
            504,
            1660,
            67595,
            13,
            576,
            1196,
            594,
            2038,
            374,
            7402,
            429,
            11,
            6388,
            311,
            279,
            444,
            8884,
            2158,
            25108,
            6504,
            9876,
            9733,
            304,
            279,
            13656,
            821,
            624,
            151668,
            271,
            785,
            2038,
            4132,
            388,
            326,
            9118,
            1576,
            279,
            1565,
            411,
            63,
            8286,
            374,
            537,
            12607,
            369,
            678,
            3204,
            2750,
            315,
            1565,
            9507,
            63,
            320,
            68,
            1302,
            2572,
            1565,
            17,
            65,
            16,
            15,
            7808,
            1565,
            17,
            65,
            16,
            16,
            59210,
            1096,
            374,
            264,
            3070,
            43,
            8884,
            2158,
            25108,
            6504,
            334,
            9876,
            13,
            4710,
            334,
            25958,
            66963,
            2691,
            264,
            1638,
            1142,
            311,
            9793,
            1565,
            411,
            63,
            979,
            1565,
            9507,
            63,
            374,
            537,
            1565,
            17,
            65,
            15,
            15,
            63,
            476,
            1565,
            17,
            65,
            15,
            16,
            28587,
            1752,
            3110,
            1447,
            73594,
            423,
            50773,
            198,
            32122,
            42181,
            3865,
            709,
            45798,
            8,
            3161,
            198,
            220,
            421,
            320,
            9507,
            621,
            220,
            17,
            65,
            15,
            15,
            8,
            700,
            284,
            264,
            280,
            220,
            770,
            421,
            320,
            9507,
            621,
            220,
            17,
            65,
            15,
            16,
            8,
            700,
            284,
            293,
            280,
            220,
            770,
            700,
            284,
            220,
            16,
            21,
            90853,
            15,
            26,
            442,
            7899,
            897,
            320,
            38719,
            3118,
            389,
            2884,
            7385,
            340,
            408,
            198,
            63,
            13874,
            271,
            92014,
            11,
            990,
            264,
            1565,
            5638,
            63,
            5114,
            448,
            264,
            1565,
            2258,
            63,
            8870,
            369,
            31273,
            1447,
            73594,
            423,
            50773,
            198,
            32122,
            42181,
            3865,
            709,
            45798,
            8,
            3161,
            198,
            220,
            1142,
            320,
            9507,
            340,
            262,
            220,
            17,
            65,
            15,
            15,
            25,
            700,
            284,
            264,
            280,
            262,
            220,
            17,
            65,
            15,
            16,
            25,
            700,
            284,
            293,
            280,
            262,
            1638,
            25,
            700,
            284,
            220,
            16,
            21,
            90853,
            15,
            26,
            442,
            7899,
            897,
            198,
            220,
            835,
            5638,
            198,
            408,
            198,
            63,
            13874,
            271,
            1986,
            25351,
            678,
            1565,
            9507,
            63,
            2750,
            525,
            20975,
            17608,
            11,
            30426,
            72343,
            56926,
            44378,
            13
          ],
          "total_duration": 60917171083,
          "load_duration": 3736398166,
          "prompt_eval_count": 351,
          "prompt_eval_duration": 1831143000,
          "eval_count": 1033,
          "eval_duration": 55152983766
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Process - Build Privacy Report": [
      {
        "json": {
          "success": true,
          "session_id": "local_1773492840635",
          "privacy_attestation": {
            "data_stayed_local": true,
            "cloud_api_used": false,
            "embedding_model": "code-bert-verilog (local)",
            "llm_model": "codellama:13b (Ollama local)"
          },
          "confidence_tier": "LOW",
          "top_match_score": 0.004327965,
          "llm_fix_suggestion": "The code infers latches because the `out` signal is not assigned for all possible values of `sel` (e.g., `2b10`, `2b11`). This is a **LATCH_INFERRED** bug. \n\n**Fix:** Add a default case to assign `out` when `sel` is not `2b00` or `2b01`. For example:\n\n```verilog\nalways @(posedge clk) begin\n  if (sel == 2b00) out = a;\n  else if (sel == 2b01) out = b;\n  else out = 16'b0; // Default value (adjust based on design intent)\nend\n```\n\nAlternatively, use a `case` statement with a `default` branch for clarity:\n\n```verilog\nalways @(posedge clk) begin\n  case (sel)\n    2b00: out = a;\n    2b01: out = b;\n    default: out = 16'b0; // Default value\n  endcase\nend\n```\n\nThis ensures all `sel` values are explicitly handled, avoiding unintended latch inference.",
          "historical_matches": [
            {
              "score": 0.004327965,
              "bug_type": "LATCH_INFERRED",
              "description": "Latch inferred due to incomplete case statement in FSM",
              "fix_patch": "Add default branch to case statement or use always_ff",
              "verilog_ref": "fsm.v:88",
              "source": "local_bug_db"
            },
            {
              "score": 0.004327965,
              "bug_type": "TIMING_VIOLATION",
              "description": "WNS violation on critical path through adder module",
              "fix_patch": "Add pipeline register between adder stages to meet timing",
              "verilog_ref": "adder.v:42",
              "source": "local_bug_db"
            },
            {
              "score": 0.0043279603,
              "bug_type": "MULTIDRIVEN_NET",
              "description": "Multiple drivers on reset sync net causing contention",
              "fix_patch": "Use OR gate to combine reset sources, remove duplicate driver",
              "verilog_ref": "reset_ctrl.v:15",
              "source": "local_bug_db"
            }
          ],
          "latency_ms": 476
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Trigger - HTTP Local Debug": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process - Privacy Gate": {
      "main": [
        [
          {
            "node": "AI - Local Contrastive Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Local Contrastive Embedding": {
      "main": [
        [
          {
            "node": "Prepare Qdrant Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process - Rank Bug Matches": {
      "main": [
        [
          {
            "node": "Process - Prepare Ollama Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process - Build Privacy Report": {
      "main": [
        [
          {
            "node": "Send - Local Debug Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Integrate - Postgres Log Session Execute Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Process - Privacy Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Payload": {
      "main": [
        [
          {
            "node": "Integrate - Qdrant Bug History Search by Raw Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Integrate - Qdrant Bug History Search by Raw Body": {
      "main": [
        [
          {
            "node": "Process - Rank Bug Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process - Prepare Ollama Payload": {
      "main": [
        [
          {
            "node": "AI - Local LLM Fix Suggestion by Raw Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Local LLM Fix Suggestion by Raw Body": {
      "main": [
        [
          {
            "node": "Process - Build Privacy Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e468e1b9-348b-488f-8ef0-aeb6a89a6f46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90d91903cda88668c7676c1294819f369b1250dbf93d6adfa6ddce44aa1d6638"
  },
  "id": "prE3RuZTeWCs9zVL",
  "tags": []
}
